version: '2'
services:
    web:
        build: .
        depends_on:
            - db
        ports:
            - "9000:3000"
        environment: 
            - MONGODB_URI=mongodb://db:27017/trianaweather
        volumes: 
            - .:/opt/app
            - /opt/app/node_modules
    db:
        image: mongo
        expose: 
            - "27017"
        volumes: 
            - mongodata:/data/db

volumes: 
    mongodata: